*{
    box-sizing: border-box;
}
.line::after{
    content: '';
    width: 0;
    height: 3px;
    display: block;
    /* linear-gradient dùng trải màu đậm nhạt */
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
    letter-spacing: 1px;
    bottom: -1px;
    left: 0;
    position: absolute;
}
html,body{
    font-family: 'roboto' condensed,sans-serif;
}
::selection{
    color: white;
    background-color: orange;
}
/* HEADER */
header{
    z-index: 2;
    position: absolute;
    width: 100%;
}

/* movieCarousel */

#movieNavbar ul li{
    border-bottom: 1px solid rgba(255,255,255,.2);
}
#movieNavbar .nav-item{
    position: relative;
}
#movieNavbar .nav-item a{
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 20px;
    letter-spacing: 3px;
    color: white;
}
#movieNavbar .nav-item.line:hover::after{
    width: 100%;
}
#movieNavbar .nav-item.active::after{
    width: 100%;
}
#carouselMovie{
    position: relative;
}
.carousel-item{
    height: 600px;
}
.movieCarousel .item-1{
    background: url(../img/hero-1.jpg) no-repeat center center;
    background-size: cover;
}
.movieCarousel .item-2{
    background: url(../img/hero-2.jpg) no-repeat center center;
    background-size: cover;
}
.movieCarousel .item-3{
    background: url(../img/hero-3.jpg) no-repeat center center;
    background-size: cover;
}
#carouselMovie .carousel-caption{
    text-align: left;
    position: absolute;
    /* cách canh giữa position absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#carouselMovie .carousel-caption p:first-child{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
#carouselMovie .carousel-caption p:last-child{
    color: black;
}
#carouselMovie .carousel-caption p{
    width: 75%;
}
#carouselMovie .carousel-caption h2{
    font-size: 52px;
    font-weight: 300;
    letter-spacing: 3px;
}
#carouselMovie .carousel-indicators li{
    width: 6px;
    height: 6px;
    border: solid white 2px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 1;
    background-clip: border-box;
    margin: 0 5px;
}
#carouselMovie .carousel-indicators li.active{
    background-color: white;
}
#carouselMovie .carousel-indicators{
    justify-content: left;
    left: 36%;
    transform: translateX(-50%);
    bottom: 15%;
    padding-right: 0;
}
#carouselMovie .carousel-caption p{
    z-index: 2;
}
.carousel-item .carousel__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, black, transparent);
}
.playtrailier span{
    font-size: 13px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    text-align: center;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
}
.playtrailier button{
    font-size: 13px;
    font-weight: 400;
    position: relative;
    width: auto;
    padding: 15px 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 30px;
    outline: none;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
}

/* newIn */

.newIn__img{
    position: relative;
    overflow: hidden;
}
.newIn__img img{
    border-radius: 10px;
}
.newIn h2{
    font-size: 18px;
    line-height: 1.4em;
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: #ec7532;
    font-weight: 400;
}
.newIn .line::after{
    position: absolute;
    bottom: -1px;
    width: 11%;
    content: '';
}
.newIn__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    transform: skewX(30deg) translateX(-120%);
    transition: all 0.5s;
    z-index: 5;
}
.newIn__trailer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.newIn__img:hover .newIn__overlay{
    transform: skewX(30deg) translateX(-30%);
}
.newIn__trailer{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    opacity: 0;
    z-index: 99;
    transition: all 0.5s;
}
.newIn__trailer i{
    width: 80px;
    height: 80px;
    border: white solid 2px;
    line-height: 80px;
    color: white;
    border-radius: 100%;
    cursor: pointer;
    margin: 50px 0 20px;
    transition: all 0.5s;
}
.newIn__trailer .readmore{
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    text-decoration-line: none;
}
.newIn__trailer p{
    margin-left: 0;
    color: white;
}
.newIn__img:hover .newIn__trailer{
    opacity: 1;
}
.newIn__trailer i:hover{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 70px;
    transition: all 0.5s;
    margin: 55px 0 25px;
    font-size: 13px;
}
.newIn__info{
    margin-left: 0;
    text-align: center;
}
.newIn__info h4{
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 20px;
    font-weight: 400;
}
.newIn__info i{
    color: #fbbd61;
}

/* showTimes */

hr{
    margin: 50px 0;
    height: 2px;
}
.showTimes ul{
    margin-bottom: 50px;
    position: relative;
}
.showTimes ul .mon a{
    color: #ec7532;
}
.showTimes .nav-tabs .nav-link{
    position: relative;
    color: #717171;
    padding: 10px 30px;
    border: white;
}
.showTimes .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .showTimes .nav-tabs .nav-link:hover{
    border: white;
}
.showTimes .nav-tabs .nav-link.active.line::after{
    width: 100%;
}
.showTimes .mon a:focus{
    color: #ec7532;
}
.showTimes .tue a:focus{
    color: #ec7532;
}
.showTimes .today a:focus{
    color: #ec7532;
}
.showTimes .thu a:focus{
    color: #ec7532;
}
.showTimes .fri a:focus{
    color: #ec7532;
}
.showTimes .sat a:focus{
    color: #ec7532;
}
.showTimes .sun a:focus{
    color: #ec7532;
}
.showTimes .nav-link:hover::after{
    width: 100%;
    border: 0;
    outline: none;
}
.showTimes .mon::after{
    width: 100%;
}
.showTimes p:first-child{
    color: #ec7532;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.showTimes h3{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #101010;
}
.showTimes .text{
    font-size: 14px;
    color: #717171;
}
.showTimes .col-10 a{
    font-size: 12px;
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ec7532;
    text-decoration-line: none;
    transition: all 0.5s;
    margin: 0 0 50px;
}
.showTimes a:hover{
    color: #717171;
}
.showTimes .row span{
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4a4a4a;
}
.showTimes .row i{
    color: #4a4a4a;
}
.showTimes .row button{
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    color: #717171;
    background-color: #d8d8d8;
}
.showTimes .col-8{
    margin-top: 20px;
}
.showTimes .col-2 img{
    border-radius: 10px;
}
.showTimes .col-4 span:first-child{
    color: #4a4a4a;
}
.showTimes .col-4 span:last-child{
    font-size: 13px;
    font-weight: 700;
    line-height: 33px;
    display: inline-block;
    width: 33px;
    height: 33px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #4a4a4a;
}

/* comingSoon */

.comingSoon{
    background-color: rgb(14, 13, 13);
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.coming__bg{
    padding: 80px 0;
    background-image: url(./cinema-layout/img/slide-7.png);
    background-size: cover;
    background-position:  center center;
    margin-bottom: 70px;
}
.coming__bg h1:first-child{
    font-size: 18px;
    line-height: 1.4em;
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #5a595956;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}
.coming__bg .line::after{
    content: '';
    width: 13%;
}
.coming__detail>span{
    font-size: 14px;
    color: #ec7532;
}
.coming__detail>h1{
    font-size: 34px;
}
.coming__detail .fa-star{
    color: #fbbd61;
}
.coming__date{
    opacity: 0.75;
    font-size: 14px;
    margin-left: 10px;
}
.coming__detail a{
    color: #ec7532;
    font-size: 12px;
    letter-spacing: 4px;
    color: #ec7532;
    text-decoration-line: none;
    transition: all 0.5s;
}
.coming__detail a:hover{
    color: #fbbd61;
}
.coming__trailer{
    position: relative;
    cursor: pointer;
}
.coming__trailer img{
    width: 100%;
}
.coming__trailer i{
    width: 84px;
    height: 84px;
    display: block;
    border: #ec7532 solid 2px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;
    font-size: 30px;
}
.coming__trailer i:hover{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 70px;
    transition: all 0.5s;
    font-size: 20px;
}
.coming__content{
    transition: all 0.5s;
    opacity: 0.5;
    cursor: pointer;
}
.coming__content h4{
    font-size: 16px;
    color: white;
}
.coming__content p{
    color: rgb(139, 139, 139);
    font-size: 14px;
}
.coming__content:hover{
    opacity: 1;
}
.coming__content.content1{
    opacity: 1;
}

/* Contact */

.Contact{
    margin-bottom: 70px;
}
.Contact p:first-child{
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    color: #4a4a4a;
}
.Contact p:last-child{
    font-size: 46px;
    font-weight: 400;
    color: #ec7532;
    text-align: center;
}

/* footer */

footer{
    background-color: rgb(14, 13, 13);
}
footer .menuFooter{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px 0 30px;
}
footer .menuFooter div{
    position: relative;
}
footer .menuFooter p{
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ec7532;
    border: none;
}
footer .menuFooter ul{
    padding-left: 0;
    list-style-type: none;
}
footer .menuFooter ul a{
    text-decoration-line: none;
    text-align: left;
    font-size: 13px;
    display: inline-block;
    padding: 3px 0;
    letter-spacing: 1.5px;
    color: #fff;
    transition: all 0.5s;
}
footer .menuFooter ul a:hover{
    color: #fbbd61;
}
footer .menuFooter .fa-facebook-f{
    padding: 0 15px 0 0;
}
footer .menuFooter .fa-twitter{
    padding: 0 14px 0 0;
}
footer .menuFooter .fa-google-plus-g{
    padding: 0 13px 0 0;
}
.finally{
    color: white;
    display: flex;
    margin-left: 140px;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 20px 0 10px;
}
.finally a{
    color: white;
    text-decoration-line: none;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s;
}
.finally a:hover{
    color: #ec7532;
}

/* RESPONSIVE */
@media screen and (max-width:576px){
    .newIn__img img{
        width: 100%;
    }
}
@media screen and (max-width:571px){
    .showTimes .row img{
       width: 100%;
       height: 100%;
    }
}
@media screen and (min-width:1200px) and (max-width:571px){
    .carousel-caption{
       width: 100%;
       height: 80%;
    }
}